@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Figtree", sans-serif;
}

.registerBody{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 91.4vh;
  background: url('../../assets/loginBack_2.jpg') no-repeat;
  background-size: cover;
}
.registerForm{
  width: 420px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: white;
  border-radius: 10px;
  padding: 30px 40px;
}

.registerForm h1{
  font-size: 36px;
  text-align: center;
}

.registerForm .input-box{
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.input-box input{
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border-radius: 40px;
  border: 2px solid #FFD700;
  color: #fff;
  padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
  color: white;
}

.iconsRegister{
  position: absolute;
  right: 20px;
  top: 20%;
  transform: translate(-50%);
  font-size: 20px;
}


.registerForm button{
  width: 100%;
  height: 45px;
  background: #FFD700;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
}

.registerForm button:hover{
  background-color: #BC002D;
  color: #FFD700;
}

